@page
@model Farmacie.Pages.Products.AddToCartModel

<form method="post">
    <input type="hidden" name="productId" value="@Model.ProductId" />
    <button type="submit" class="btn btn-primary">Add to Cart</button>
</form>
